body {
    background: black;
    color: white;
    height: 1000px;
    background-size: cover;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);
}